<div class="large-12 columns">
</div>

<a ng-click="createNewArticle()" class="button"><i class="fa fa-pencil"></i> Create New Article</a>
<hr />

<div class="row">
		<div ng-repeat="article in articles">
			<div class="large-12 small-12 columns">
				<div class="large-5 columns ">
					<h5>{{article.title}}</h5>
				</div>
				<a ng-click="editArticle(article._id)" class="button small"><i class="fa fa-edit"></i> Edit</a> 
            	<a ng-click="deleteArticle(article._id)" class="button small alert"><i class="fa fa-trash-o"></i> Delete</a>
			</div>
		</div>
</div>

